<router-outlet></router-outlet>
<div class="row p-0 m-0">
  <div class="col-4 p-0">
    <app-listado-consultas
      (seleccionarConsultaEvent)="mostrarConsulta($event)"
    ></app-listado-consultas>
  </div>
  <div class="col-8 p-0">
    <app-mostrar-consulta
      [consulta]="consultaMostrada"
      (ejecutarConsultaEvent)="obtenerResultadoConsulta($event)"
    ></app-mostrar-consulta>
    <app-mostrar-respuesta
      [consultaResultado]="consultaResultado"
    ></app-mostrar-respuesta>
  </div>
</div>
